<!DOCTYPE html>
<html>
<head>
  <title>Bite Me</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <!-- Underscore -->
  <script src="/vendor/underscore/underscore-min.js"></script>
  <!-- Bootstrap JS -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <!-- ToEat.ly -->
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="/static/js/app.js"></script>
</head>
<body>
  <div id="page-wrapper" class="container">
    <header class="page-header">
      <h1>Catch Phrase <small> Add Words and Definitions to Test Yourself</small></h1>
    </header>

<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title text-center">
        <a class="collapsed " role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Add New Words and Definitions
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body text-center">
         <form class="form-inline" id="new-card-form">
          <input name="name" type="text" class="form-control" id="card-name-input" placeholder="Word">
          <input name="description" class="form-control" type="text" id="card-description-input" placeholder="Definition">
          <button type="submit" class="btn btn-default addButton" >Add</button>
        </form>
      </div>
    </div>
  </div>


    <!-- form -->
    <div class="row text-center" >
       <div class="col-md-12">
          <div class="jumbotron">
              <button class="btn btn-primary text-center" id="allWordsButton" type="button">
                      View All Words
                    </button>
              <h1 class="list-group" id="card-ul"> </h1>
                 <a class="btn btn-primary" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    View Anaswer
                  </a>
                 
                  
                    <button class="btn btn-primary text-center" id="nextButton" type="button">
                      Start / Next Word
                    </button>
                
                  <div class="collapse" id="collapseExample">
                    <div class="well" id= "answer">
                      The answer is!! 
                    </div>
                  </div>
              </div>
           </div>
        </div>  <!-- end of row div -->
   
  <script type="text/template" id="cards-template">
    <li class='list-group-item'><%= name %>
    <button data-_id="<%= _id %>" onclick="deleteCard(this)" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </script>
  <script type="text/template" id="answer-template">
    <li class='list-group-item'><%= description %>  
  </script>
</body>
</html>
